nav {
    border: 10px dotted white;
    margin-top: 25px;
    background-color: bisque;
}

h2 {
    color: brown;
}

.titulo {
    text-align: center;
    color: bisque;
}

.clasex {
    border: 10px solid black;
}

#idsec{
    text-align: center;
    color: blue;
}